{% extends "::baseForAdmin.html.twig" %}
    {% block title %}
        Ajouter un personnel
    {% endblock %}

    {% block script %}
        <script language="JavaScript">
            $("document").ready(function(){
               var matriculeRandom = Math.floor(Math.random()*99999999);
                $("#matriculePersonnel").val(matriculeRandom);
                $("#formAjouterPersonnel").submit(function(){
                    console.log($("#formAjouterPersonnel").serialize());
                    $.ajax({
                       url: "{{ path('ajouterPersonnelAJAX') }}",
                        method: "POST",
                        data: $("#formAjouterPersonnel").serialize(),
                        success: function(response){
                            console.log(response);
                            response = JSON.parse(response);
                            if(response.status == "inserted"){
                                var message = "<div class='alert alert-success'>Ajout avec success</div>";
                            }else{
                                var message = "<div class='alert alert-danger'>Echec de l'ajout</div>";
                            }
                            $("#messageContainer").html(message);
                        },
                        error : function(erreur){
                            console.log(erreur);
                        }
                    });
                });
            });
        </script>
    {% endblock %}

    {% block mainContent %}
        <hr class="hr-4">
        <div class="col-xs-12">
            <div id="messageContainer">

            </div>
            <div class="row">
                <form name="ajouterPersonnel" id="formAjouterPersonnel" onsubmit="return false" action="#">
                    <table border="1" align="center" class="table table-bordered">
                        <tr>
                            <td>Poste</td>
                            <td><select name="idPoste">
                                    {% for p in postes %}
                                        <option value="{{ p.id }}">{{ p.titrePoste }}</option>
                                    {% endfor %}
                            </select></td>
                        </tr>
                        <tr>
                            <td>Matricule</td>
                            <td><input type="text" name="matriculePersonnel" id="matriculePersonnel" readonly></td>
                        </tr>
                        <tr>
                            <td>Nom</td>
                            <td><input type="text" name="nomPersonnel" id="nomPersonnel"></td>
                        </tr>
                        <tr>
                            <td>Prenom</td>
                            <td><input type="text" name="prenomPersonnel" id="prenomPersonnel"></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td><input type="text" name="adressePersonnel" id="adressePersonnel"></td>
                        </tr>
                        <tr>
                            <td>Numéro de téléphone</td>
                            <td><input type="tel" name="numTelPersonnel" id="numTelPersonnel"></td>
                        </tr>
                        <tr>
                            <td>CIN</td>
                            <td><input type="text" name="cinPersonnel" id="cinPersonnel"></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td><input type="email" name="emailPersonnel" id="emailPersonnel"></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Ajouter" id="btnSubmit" class="btn btn-primary"> </td>
                            <td><input type="reset" value="Vider" class="btn btn-danger"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    {% endblock %}