{% extends "::baseForAdmin.html.twig" %}
{% block title %}
    Créer un groupe d'élèves
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $("document").ready(function(){
            $("#listNiveau").change(function(){
                $("#messageContainer").html("");
                $("#mySpinner").fadeIn();
               console.log("bilel");
                var niveau = $("#listNiveau").val();
                $.ajax({
                   url: "{{ path('getNumeroGroupe') }}",
                    method: "GET",
                    data: {"niveauGroupe" : niveau},
                    success : function(response){
                        response = JSON.parse(response);

                        console.log(response);
                        $("#numGroupe").val(response.numGroupeSuivant);
                        $("#mySpinner").fadeOut();
                    }
                });
            });
            $("#formCreerGroupe").submit(function(){


                if($("#listNiveau").val() == "null"){
                    var message = "<div class='alert alert-danger'>Il faut choisir un niveau</div>";
                    $("#messageContainer").html(message);
                }else {
                    $("#tableSpinner").fadeIn();


                    console.log($("#formCreerGroupe").serialize());
                    $.ajax({
                        url: "{{ path('creerGroupeAJAX') }}",
                        method: "GET",
                        data: $("#formCreerGroupe").serialize(),
                        success: function (response) {
                            $("#tableSpinner").fadeOut();
                            console.log(response);
                            response = JSON.parse(response);
                            if (response.status == "inserted") {
                                var message = "<div class='alert alert-success'>Groupe crée avec succes !</div>";
                            } else {
                                var message = "<div class='alert alert-danger'>Echec de création du groupe !</div>";
                            }
                            $("#messageContainer").html(message);
                            $("#listNiveau").val("null");
                            $("#numGroupe").val("");
                        },
                        error: function (erreur) {
                            console.log(erreur);
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}

{% block mainContent %}
    <hr class="hr-4">
    <div class="col-xs-12">
        <div class="row" id="messageContainer">

        </div>
        <div class="row">
            <form name="creerGroupe" id="formCreerGroupe" onsubmit="return false" action="#">
                <table border="1" class="table table-bordered">
                    <tr>
                        <td>Niveau groupe</td>
                        <td><select name="listGroupe" id="listNiveau">
                                <option value="null">Choisir un niveau</option>
                                <option value="1">Premiere Annee</option>
                                <option value="2">Deuxieme Annee</option>
                                <option value="3">Troisieme Annee</option>
                                <option value="4">Quatrieme Annee</option>
                                <option value="5">Cinquieme Annee</option>
                                <option value="6">Sixieme Annee</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Numéro groupe</td>
                        <td></i><input type="number" name="numGroupe" id="numGroupe" readonly><i class="ace-icon fa fa-spin fa-refresh blue bigger-170" id="mySpinner" style="display: none;margin-left: 15px"></td>
                    </tr>
                    <tr align="center">
                        <td><input type="submit" value="Créer" class="btn btn-primary"></td>
                        <td><input type="reset" value="Vider" class="btn btn-danger"> </td>
                    </tr>
                </table>

            </form>
            <center><span><i class="ace-icon fa fa-spin fa-refresh blue bigger-300" id="tableSpinner" style="display: none;margin-left: 15px"></i></span></center>
        </div>
    </div>
{% endblock %}