{% extends "::baseForAdmin.html.twig" %}
{% block title %}
    Lister les groupes
{% endblock %}

{% block script %}
    <script language="javascript">

        $("document").ready(function () {
            $("#tableGroupe").dataTable();
        });


    </script>

{% endblock %}

{% block mainContent %}
    <hr class="hr-4">
    <div class="col-xs-12">
        <div class="row">
            <hr class="hr-2">
            <div class="row">
                <table id="tableGroupe" cellspacing="0" width="80%">
                    <thead>
                    <tr class="table-header">
                        <th>Nom Groupe</th>
                        <th>Numéro Groupe</th>
                        <th>Liste des élèves</th>
                        <th>Emploi</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom Groupe</th>
                        <th>Numéro Groupe</th>
                        <th>Liste des élèves</th>
                        <th>Emploi</th>
                    </tr>
                    </tfoot>
                    <tbody id="tableBody">
                    {% for groupe in listGroupe %}
                        <tr align="center">
                            <td>{{ groupe.nomGroupe }}</td>
                            <td>{{ groupe.numGroupe }}</td>
                            <td><a href="{{ path('listerEleveParGroupe') }}?idGroupe={{ groupe.id }}"><input
                                            class="btn btn-primary" value="Liste élèves" type="button"></a></td>
                            <td>---</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}